<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Student</title>
</head>
<body>
    <form action="/addStudent" method="POST">
        <input type="text" name="name" id="name" placeholder="Enter Student Name">
        <input type="number" name="age" id="age" placeholder="Enter Student Age">
        <input type="email" name="email" id="email" placeholder="Enter Student Email">
        <button>Add New Student</button>
    </form>
</body>
</html>